
<!DOCTYPE html>
<html>
<head>
    <base href="@Html.Raw(ViewBag.ContextRoot)/" target="_blank">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="@Html.Raw(ViewBag.ContextRoot)/assets/icons/favicon.ico">

    <title></title>
    <link href="@Html.Raw(ViewBag.ContextRoot)/app.css" rel="stylesheet" asp-append-version="true">
    @RenderSection("configurationScripts", required: false)
</head>
<body class="fixed-left">
    <app>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </app>
    @RenderBody()
    <script src="@Html.Raw(ViewBag.ContextRoot)/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>